.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
}
